<h1><%= @list.name %></h1>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %> - <%= bookmark.comment %>
      <%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>

    </li>
  <% end %>
</ul>
<%= link_to "Add Movie", new_list_bookmark_path(@list) %>
